/*   Chord Transposer
 *     https://github.com/barrettj12/chord-transposer
 *   Author: Jordan Barrett (@barrettj12)
 *     https://github.com/barrettj12
 *
 *   Custom CSS styles - to go on top of BaseCSS
 */


body {
  margin: 0px 30px 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.col {
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  display: block;
  font-family: monospace;
  line-height: 120%;
  margin: auto auto 10px;
  min-height: 200px;
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 12pt;
  font-weight: bold;
}

button:hover {
  background-color: #fafafa;
}

#plus, #minus {
  font-size: 16pt;
}

#semitone-controls p {
  display: inline;
  margin-right: 15px;
}

#semitones {
  text-align: center;
  width: 4.5ch;
}

#about, footer {
  margin: auto;
  max-width: 60ch;
}

p {
  text-align: justify;
}

@media screen and (min-width: 750px) {
  #panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 950px;
    margin: auto;
  }

  textarea {
    min-height: 300px;
  }
}