/*   Chord Transposer
 *     https://github.com/barrettj12/chord-transposer
 *   Author: Jordan Barrett (@barrettj12)
 *     https://github.com/barrettj12
 *
 *   Custom CSS styles - to go on top of BaseCSS
 */


body {
  margin: 0px 30px 20px;
  /* text-align: center;  Doesn't do shit */
}

/*main {
  text-align: center;
}*/

h1 {
  margin-bottom: 20px;
  text-align: center;
  /* font-family: 'Open Sans', monospace, Helvetica, sans-serif; */
  /* font-size: 250%; */
  /* font-weight: 300; */
}

/*#panel {
  /~ display: flex; ~/
  text-align: center;
}*/

/*@media screen and (min-width: 800px) {
  #panel {
    display: inline-flex;
    justify-items: center;
  }

  textarea {
    max-width: 500px;
  }
}*/

.col {
  /* display: inline-block; */
  /* float: center; */
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  display: block;
  font-family: monospace;
  line-height: 120%;
  margin: auto auto 10px;
  min-height: 200px;
  /* max-width: 50ch; */
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 12pt;
  font-weight: bold;
  /* padding: 2px; */
}

#plus, #minus {
  font-size: 16pt;
}

#semitone-controls p {
  display: inline;
  margin-right: 15px;
}

#semitones {
  text-align: center;
  width: 3.5ch;
}

#about, footer {
  margin: auto;
  max-width: 60ch;
  /* text-align: center; */
}

p {
  /* max-width: 60ch; */
  text-align: justify;
}

/*
body {
  margin: 0px 10px 10px;
}

#textarea-container {
  text-align: center;
}

textarea {
  font-family: monospace;
  max-height: 400px;
  min-height: 12ch;
  max-width: 400px;
  min-width: 36ch;
  resize: none;
}

#controls {
  text-align: center;
  margin: 5px 0px 10px;
}

#controls span {
  margin-left: 40px;
}

#semitone-button p {
  display: inline;
  margin: 10px;
}

#semitones { 
  text-align: center;
  width: 3.5ch;
  padding: 1px;
  /* margin: 0px; */
/*}

hr {
  border: 0;
  border-top: 1px solid lightgray;
}

p {
  font-family: Garamond, serif;
  font-size: 110%;
  line-height: 120%;
  margin: 7px 0px;
  text-align: center;
} */