h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 250%;
  font-weight: 100;
}

body {
  margin: 0px 10px 10px;
}

#textarea-container {
  text-align: center;
}

textarea {
  font-family: monospace;
  max-height: 400px;
  min-height: 12ch;
  max-width: 400px;
  min-width: 36ch;
  resize: none;
}

#controls {
  text-align: center;
  margin: 5px 0px 10px;
}

#controls span {
  margin-left: 40px;
}

#semitone-button p {
  display: inline;
  margin: 10px;
}

#semitones { 
  text-align: center;
  width: 3.5ch;
  padding: 1px;
  /* margin: 0px; */
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
}

p {
  font-family: Garamond, serif;
  font-size: 110%;
  line-height: 120%;
  margin: 7px 0px;
  text-align: center;
}